<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Francesco Mosca" />
    <meta name="copyright" content="Francesco Mosca" />
    <meta name="robots" content="follow,index" />
    <meta name="description"
        content="I'm a mobile and web developer with an eye for graphics and design, who loves to work using the best practices."
        data-i18n="main.subtitle"
        data-i18n-attr="content" />
    <title>Frank Mosca | Developer</title>
    <meta name="google-site-verification" content="IkyiNwQ3ZedX6fIejc_wvbTUKZ5hKEKCWoL1r_8D-K4" />
    <link rel="stylesheet" href="../style.scss" />
    <script type="module" src="../main.ts"></script>
    <link rel="icon" href="../assets/favicon.ico" />
</head>
<body>
    <section class="main-hero px-3">
        <img aria-hidden="true" class="particles-group parallax" src="../assets/svgs/confetti/1.svg" data-rellax-speed="-6" data-sal="fade">
        <img aria-hidden="true" class="particles-group parallax" src="../assets/svgs/confetti/2.svg" data-rellax-speed="-5" data-sal="fade" data-sal-delay="200">
        <img aria-hidden="true" class="particles-group parallax" src="../assets/svgs/confetti/3.svg" data-rellax-speed="-4" data-sal="fade" data-sal-delay="400">
        <img aria-hidden="true" class="particles-group parallax" src="../assets/svgs/confetti/4.svg" data-rellax-speed="-2" data-sal="fade" data-sal-delay="600">
        <div class="container">
            <header class="nav-header flex-between" data-sal="fade" data-sal-delay="200">
                <div class="logo"></div>
                <div>
                <ul class="d-inline-block list-inline nav-links">
                    <li class="list-inline-item">
                        <a href="#experiences" data-i18n="links.experiences">Experiences</a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a href="#skills" data-i18n="links.skills">Skills</a>
                    </li> -->
                    <li class="list-inline-item">
                        <a href="#contact" data-i18n="links.contact_me">Contact Me</a>
                    </li>
                </ul>

                <!-- @todo convert to buttons -->
                <label class="ml-4 mr-2" tabindex="0">
                    <input type="radio" name="lang-selector" alt="English" value="en" hidden /> <img width="24" height="24" src="../assets/svgs/gb.svg"
                    aria-hidden="true"></option>
                </label>
                <label tabindex="0">
                    <input type="radio" name="lang-selector" alt="Italiano" value="it" hidden />
                    <img width="24" height="24" src="../assets/svgs/it.svg" aria-hidden="true">
                </label>

                </div>
            </header>

            <div class="main-hero-content parallax">
                <h1 data-i18n="main.title" data-sal="slide-up" data-sal-delay="150">Hi,<br>I'm Frank!</h1>
                <p class="subtitle my-4" data-i18n="main.subtitle" data-sal="slide-up" data-sal-delay="400">
                    I'm a mobile and web developer with an eye for graphics and design, who loves to work using the best practices.
                </p>
                <div class="social-btns" data-sal="fade" data-sal-delay="600">
                    <a aria-label="LinkedIn profile" title="LinkedIn" href="https://www.linkedin.com/in/francesco-mosca/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
                    <a aria-label="Telegram profile" title="Telegram" href="https://t.me/mrfrancy" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-telegram-square fa-3x"></i>
                    </a>
                    <a aria-label="Email" data-i18n="contact.send_email" data-i18n-attr="title" href="mailto:francesco.mosca@outlook.com" rel="noopener noreferrer">
                        <i class="fas fa-envelope-square fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <section id="experiences">

        <header class="section-heading">
            <h2 data-i18n="experiences.heading.title" data-sal="fade">Experiences</h2>
            <p class="subtitle" data-i18n="experiences.heading.subtitle" data-sal="fade" data-sal-delay="200">Project I worked on</p>
        </header>

        <div class="container">

            <!-- HAIR EXPRESS -->
            <div class="row pb-5">
                <div class="col-md-5 offset-md-1 flex-center">
                    <img class="product-photo" lazyload data-src="../assets/product-photos/hair-express.png" alt="Hair Express product image" data-sal="slide-right">
                </div>
                <div class="col-md-5 align-items-center">

                    <div class="product-title" data-sal="fade">
                        <div>
                            <h3>Hair Express</h3>
                            <div class="product-title-line" style="background-color: #EFCF63;" data-sal="flip-up" data-sal-duration="2000"></div>
                        </div>
                    </div>

                    <div data-sal="fade" data-sal-delay="300">
                    <div class="chips-group">
                        <span class="chip-square">Backend</span>
                        <span class="chip-square">Frontend</span>
                        <span class="chip-square">Design</span>
                    </div>


                    <p class="product-description my-4" data-i18n="experiences.hair_express.desc">I entirely designed and worked on this hybrid mobile app for a growing hair salon.</p>

                    <h4 data-i18n="experiences.tools_title">Technologies and tools used</h4>
                    <p>
                        ▪ &nbsp; Angular 8<br>
                        ▪ &nbsp; Ionic 4 (Framework, UI components)<br>
                        ▪ &nbsp; Ionic Capacitor & Cordova (native app handling)<br>
                        ▪ &nbsp; NGXS (State Management)<br>
                        ▪ &nbsp; Bootstrap<br>
                        ▪ &nbsp; NestJS (+ Fastify, Mongoose)<br>
                        ▪ &nbsp; MongoDB<br>
                        ▪ &nbsp; Google Firebase (phone sign-in,FCM)<br>
                        ▪ &nbsp; Adobe XD
                    </p>
                    </div>

                </div>
            </div>

            <!-- TBOXCHAIN -->
            <div class="row row-md-reverse py-5">
                <div class="col-md-5 offset-md-1">
                    <div class="product-title" data-sal="fade">
                        <div>
                            <h3>TBoxChain</h3>
                            <div class="product-title-line" style="background-color: #00C6DE;" data-sal="flip-up" data-sal-duration="2000"></div>
                        </div>
                    </div>

                    <div data-sal="fade" data-sal-delay="300">
                    <span class="chip-square">Frontend</span>

                    <p class="product-description my-4" data-i18n="experiences.tboxchain.desc">Sistema di raccolta, certificazione e distribuzione di recensioni online strutturato su tecnologia blockchain, basato su due prove chiave: Proof of location e Proof of identity.</p>

                    <h4 data-i18n="experiences.tools_title">Technologies and tools used</h4>
                    <p>
                        ▪ &nbsp; Angular 5<br>
                        ▪ &nbsp; Ionic 3 (Framework, UI components)<br>
                        ▪ &nbsp; Cordova (native app handling)<br>
                        ▪ &nbsp; Google Firebase Cloud Messaging<br>
                        ▪ &nbsp; Google Maps API
                    </p>
                </div>
                </div>
                <div class="col-md-5 flex-center">
                    <img class="product-photo" lazyload data-src="../assets/product-photos/tbox.png" alt="TBox product image" data-sal="slide-left">
                </div>
            </div>

            <!-- SMARTXP -->
            <div class="row pt-5">
                <div class="col-md-5 offset-md-1 flex-center">
                    <img class="product-photo" lazyload data-src="../assets/product-photos/smartxp.png" alt="SmartXP product image" data-sal="slide-up">
                </div>
                <div class="col-md-5 align-items-center">

                    <div class="product-title" data-sal="fade">
                        <div>
                            <h3>SmartXP</h3>
                            <div class="product-title-line" style="background-color: #EB443B;" data-sal="flip-up" data-sal-duration="2000"></div>
                        </div>
                    </div>
                    <div data-sal="fade" data-sal-delay="300">
                    <div class="chips-group">
                       <span class="chip-square">Frontend</span>
                        <span class="chip-square">Design</span>
                    </div>


                    <p class="product-description my-4" data-i18n="experiences.smartxp.desc">Una dashboard multi-aziendale per la gestione dei dati presenti nell'applicativo mobile di una compagnia sportiva.</p>

                    <h4 data-i18n="experiences.tools_title">Technologies and tools used</h4>
                    <p>
                        ▪ &nbsp; Angular 9<br>
                        ▪ &nbsp; Angular Material<br>
                        ▪ &nbsp; Bootstrap<br>
                        ▪ &nbsp; Leaflet
                    </p>

                </div></div>
            </div>

        </div>

    </section>

    <section id="companies">

        <header class="section-heading">
            <h2 data-i18n="companies.heading.title" data-sal="fade">Companies</h2>
            <p class="subtitle" data-i18n="companies.heading.subtitle" data-sal="fade" data-sal-delay="200">Companies I have worked with</p>
        </header>


        <div class="container">

            <!-- HAIR EXPRESS -->
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="companies-overwiew" data-sal="fade">
                        <img lazyload data-src="../assets/logos/3f-edin.png"
                        title="3F & Edin" alt="3F & Edin S.p.A.">
                        <img lazyload data-src="../assets/logos/innovaway.png"
                        title="Innovaway" alt="Innovaway S.P.A.">
                        <img lazyload data-src="../assets/logos/rgi.svg"
                        title="RGI" alt="RGI S.P.A.">
                        <img lazyload data-src="../assets/logos/reale-mutua.png"
                        title="Reale Mutua Assicurazioni" alt="Reale Mutua Assicurazioni">
                        <img lazyload data-src="../assets/logos/smartvisit.png"
                        title="SmartVisit" alt="SmartVisit SRL">
                        <img lazyload data-src="../assets/logos/cegc.png"
                        title="CEGC" alt="Compagnie Europeenne De Garanties Et Cautions">
                        <img lazyload data-src="../assets/logos/natixis.png"
                        title="Natixis" alt="Natixis Investment Managers S.A.">
                        <img lazyload data-src="../assets/logos/eos.png"
                        title="EOS Italy" alt="EOS Italy">
                    </div>
                </div>
            </div>

    </section>

    <!--<section id="skills">
        <header class="section-heading">
            <h2 data-i18n="null">Stack and Skills</h2>
            <p class="subtitle" data-i18n="null">Knownledge and tools that I use</p>
        </header>
        <p class="subtitle" style="text-align: center; color: #eee">--- TODO ---</p>
    </section>-->

    <section id="contact">
        <div class="contact-card parallax" data-rellax-speed=".5" data-rellax-mobile-speed="0" data-sal-duration="1000" data-sal="slide-up">
            <div class="row">
                <div class="col-lg-4 flex-center">
                    <img lazyload data-src="https://github.com/francescomosca.png" class="photo-avatar" alt="Francesco Mosca" data-sal-delay="200" data-sal="zoom-in">
                </div>
                <div class="col-lg-8">
                    <h2 data-i18n="contact.title" data-sal="slide-up" data-sal-delay="200">Contact me!</h2>
                    <p class="subtitle my-4" data-i18n="contact.subtitle"  data-sal="slide-up" data-sal-delay="300">
                        Feel free to contact me. I'm available for a work proposal or to talk about your project.
                    </p>

                    <div class="social-btns"  data-sal="fade" data-sal-delay="400">
                        <a aria-label="LinkedIn profile" title="LinkedIn" href="https://www.linkedin.com/in/francesco-mosca/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-linkedin fa-3x"></i>
                        </a>
                        <a aria-label="Telegram profile" title="Telegram" href="https://t.me/mrfrancy" target="_blank" rel="noopener noreferrer">
                            <span class="d-inline-block fa-telegram-square fa-3x"></span>
                        </a>
                        <span class="mr-2"><i data-i18n="or">or</i></span>

                        <a href="mailto:francesco.mosca@outlook.com" rel="noopener noreferrer">
                            <span class="d-inline-flex align-items-center">
                            <i class="fas fa-envelope-square fa-3x"></i>
                            &nbsp;<span class="ml-2" data-i18n="contact.send_email">send me an email</span>
                        </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </section>


    <footer>
        <div class="container px-3">
            <hr>
        <div class="flex-between my-3">
            <div class="logo"></div>
            <p class="copy-text"><span class="d-xs-inline d-sm-inline d-none">Copyright </span>© 2020 Francesco Mosca</p>

            <div class="social-btns social-btns-gray">
                <a aria-label="LinkedIn profile" title="LinkedIn" href="https://www.linkedin.com/in/francesco-mosca/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a aria-label="Telegram profile" title="Telegram" href="https://t.me/mrfrancy" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-telegram-square-gray fa-2x"></i>
                </a>
                <a aria-label="Email" data-i18n="contact.send_email" data-i18n-attr="title" href="mailto:francesco.mosca@outlook.com"  rel="noopener noreferrer">
                    <i class="fas fa-envelope-square fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    </footer>
</body>
</html>
